.metamaskLogo {
    width: 3rem;
    margin-right: 1rem;
}

.gridticket {
    background-color: #4c566a;
    /* box-shadow: 5px 5px 1px 0px #333b4c; */
    box-shadow: 5px 5px 1px -2px #333a4a;
}

.gridticketItems {
    max-height: 50rem;
    min-height: 30rem;
}

.card {
    background-color: #394254;
    border: 1pxsolidrgba(0, 0, 0, .125);
}

.card-title {
    color: #b0b8c0;
}

.price-information {
    margin-left: 2.5rem;
    color: #d6dde7;
    border-top: #394254;
    ;
}

h3 {
    color: #d6dde7;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    font-size: 2rem;
}

.card-title-1 {
    color: #6c757d;
    font-size: 0.7rem;
}

.card-title-2 {
    font-size: 1.5rem;
    font-weight: 200;
}

 
    .btnTicket.btn-primary {
        color: #fff;
        background-color: #4c566a;
        border-color: #6c757d;
        float: right;
        border-radius: 0.5rem;
        margin-top: 0.75rem;
    }

    .btnTicket.btn-primary:hover {
        color: #4c566a;
        background-color: #fff;
        border-color: #6c757d;
    }


.card-title {
    float: left;
    vertical-align: middle;
    margin-bottom: 0rem;
}

/* .card-text.solded{
    color: #4c566a;
    background-color: #fff;
    border-color: #6c757d;
    border-radius: 5rem;
    float: right;
    width: 4rem;
    height: 4rem;
    margin-top: 0.75rem;
    text-align: center;
}

.solded > span{
    color: red;
    margin-top: 10rem;
}  */